In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('final_data.csv')
df1.drop('Unnamed: 0',inplace=True,axis=1)
df1

,STATE/UT,YEAR,Population,Male_pop,Female_pop,Literacy,Male Literacy,Female Literacy,Area (km2),MURDER,...,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,Total Crimes Against SCs,Total Crimes Against STs,Total Crimes Against Child,Total Crimes Against Women,OTHER IPC CRIMES,TOTAL IPC CRIMES,total crime,Crime Rate
0,A & N ISLANDS,2001,356152,192972,163180,81.30,86.30,75.24,"8,249",13,...,0,0,0,1,0,34,323,658,1421,398.986949
1,A & N ISLANDS,2002,358523,193940,164578,81.81,86.69,75.96,"8,249",17,...,0,0,0,1,0,27,328,608,1297,361.762007
2,A & N ISLANDS,2003,360909,194912,165988,82.33,87.08,76.68,"8,249",21,...,0,0,0,1,6,22,318,644,1381,382.644933
3,A & N ISLANDS,2004,363312,195890,167410,82.84,87.47,77.40,"8,249",15,...,0,6,0,1,14,27,387,748,1654,455.256088
4,A & N ISLANDS,2005,365730,196873,168844,83.36,87.86,78.11,"8,249",14,...,0,3,0,2,8,22,362,682,1494,408.498072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,WEST BENGAL,2008,87793758,45137586,42655472,73.97,80.29,67.26,"90,000",1811,...,5,3789,19,17,513,20779,38177,105419,254095,289.422626
416,WEST BENGAL,2009,88939526,45687994,43250991,74.73,80.75,68.35,"90,000",2068,...,5,3623,21,16,484,23196,38776,113036,272008,305.834776
417,WEST BENGAL,2010,90100247,46245114,43854825,75.50,81.22,69.44,"90,000",2398,...,8,2847,63,47,880,26014,49096,129616,311281,345.482960
418,WEST BENGAL,2011,91276116,46809028,44467088,76.26,81.69,70.54,"90,000",2109,...,0,3249,59,41,1450,28919,56614,143197,344957,377.926905
419,WEST BENGAL,2012,92467331,47379817,45087900,77.02,82.15,71.63,"90,000",2252,...,12,4385,85,91,1706,30585,64482,161427,385475,416.876962